<form class="ui form km-answer-form">

  <div class="field">
    <label for="body">Your Answer:</label>
    {{textarea value=body id="body"}}
  </div>

  <div class="field">
    <label for="name">Your Name</label>
    {{input value=name id="name"}}
  </div>

  <button {{action 'saveAnswer'}} class="ui button">Answer it!</button>

</form>
