.header {
  font-family: 'Pacifico', cursive;
  color:#F5664D !important;
  font-size: 1.4em;
}
.km-main-container {
  margin-top: 85px;
}
a {
  cursor:pointer;
}
.km-by {
  color: #333;
}
.sub.header {
  text-transform:none !important;
}
.km-edit {
  margin-left: 20px !important;
  color:#4183c4 !important;
}
.km-edit-form #question {
  color: #f5664d;
}
