.header {
  font-family: 'Pacifico', cursive;
  color:#F5664D !important;
  font-size:1.1em;
}
h1.header, h2.header, h3.header {
  font-size: 1.8em;
}
.km-main-container {
  margin-top: 85px;
}
a {
  cursor:pointer;
}
.km-by {
  color: #333;
}
.sub.header {
  text-transform:none !important;
}
.km-edit {
  margin-left: 20px !important;
  color:#4183c4 !important;
}
.km-edit-form #question {
  color: #f5664d;
}
.km-answers-container, .km-clear {
  clear:both;
}
.km-answers-container {
  margin-top: 60px !important;
}
.km-body {
  font-size: 1.2em;
}
