<div class="ui pointing top fixed menu">
  <div class="header item">
    <img src="/img/ember.png">
    EmberBoard
  </div>
  <div class="item">
    {{#link-to 'index'}}Home{{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'new_question'}}Ask a Question{{/link-to}}
  </div>
  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        {{search-bar}}
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>

<div class="ui container km-main-container">
  {{outlet}}
</div>
