{{question-tile question=model editQuestion="editQuestion" deleteQuestion="deleteQuestion"}}
<div class="ui segment km-answers-container">
  {{answer-tile question=model}}
  <div class="km-clear"></div>
  <h2 class="header">Got an Answer?</h2>
  {{new-answer question=model saveAnswer="saveAnswer"}}
</div>
